/*
 * SVG Progress Indicator
 *
 * Set-up the indicator using SVG attributes that are 
 * supported as properties in CSS.
 *
 * @since 07/07/22
 * @link  https://codepen.io/_rahul/pen/BarobwE
 */

.header {
    z-index: 99999 !important;
    position: absolute !important;
    background-color: #ffffff !important;
    color: #000000 !important;
    box-shadow: none !important;
    justify-content: center;
    align-items: center;
}

.header-button{
    font-size: 1.3em !important;
    border: 1px solid black!important;
    font-weight: bold !important;
    margin-right: 50px !important;
    color: rgba(90,35,125) !important;
}